@import "@/assets/style/variable.scss";
.order {
    &-container {
        margin: 0 20rem;
        &-controls {
            color: white;
            margin-bottom: 20rem;
            font-size: 13rem;

            span {
                padding: 4rem 10rem;
                background-color: transparent;
                border-radius: 4rem;
                margin-right: 4rem;
                transition: 0.3s;
                &:where(.active) {
                    background-color: $color-purple;
                }
            }
        }
        .choice {
            width: 100%;
            @include border();
            margin-bottom: 20rem;
            border-radius: 4rem;
            @include boxPadding(1rem);

            &-container {
                height: 100%;
                width: 100%;
                backdrop-filter: blur(20rem);
                @include boxPadding(10rem 10rem 2rem);
                border-radius: 4rem;
            }
            &-list {
                color: white;
                font-size: 12rem;
                > li {
                    @include flex($ai: flex-start);
                    margin-bottom: 4rem;
                    span {
                        white-space: nowrap;
                        margin-top: 3rem;
                        margin-right: 4rem;
                    }
                }
                ul {
                    li {
                        padding: 4rem 8rem;
                        border-radius: 2rem;
                        background-color: transparent;
                        margin-left: 4rem;
                        margin-bottom: 4rem;
                        transition: 0.3s;
                        &:where(.active) {
                            color: white;
                            background-color: $color-purple;
                        }
                    }
                    color: $color-white-light-2;
                    @include flex($ai: flex-start);
                    flex-wrap: wrap;
                }
            }
        }
    }
}
