@import "@/assets/style/variable.scss";
.t-item {
    width: 107rem;
    height: 184rem;
    border-radius: 4rem;
    margin-bottom: 4rem;
    margin-right: 5rem;
    &:nth-child(3n) {
        margin-right: 0rem;
    }
    @include border();
    overflow: hidden;
    &-container {
        height: 100%;
        width: 100%;
        backdrop-filter: blur(20rem);
        @include boxPadding(4rem 0 6rem);
        @include flex($fd: column, $jc: space-between, $ai: center);
        p {
            font-size: 11rem;
            color: white;
            margin: 0;
        }
        span {
            margin: 0;
            font-size: 10rem;
            color: $color-white-light-2;
        }
    }
}
